html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  font-family: sans-serif;
  color: #525252;
}
a {
  text-decoration: none;
}
.deepskyblue {
  color: deepskyblue;
}
.container {
  text-align: left;
}
pre {
  width: 100%;
  height: 100%;
}
#nodata {
  display: none;
}
